# OS
#------------------------
.DS_Store
.*~
*~


# Python
#------------------------
__pycache__
*.pyc
*.pkl


# Jupyter
#------------------------
.ipynb_checkpoints/


# File types
#------------------------
*.bin
*.txt
*.csv


# Dirs
#------------------------
images
py_openGL_tut

