# OS
#------------------------
.DS_Store
.*~
*~


# Python
#------------------------
build/
__pycache__
*.pyc
*.pkl


# Cython/C
#------------------------
*.so


# Jupyter
#------------------------
.ipynb_checkpoints/
raw_notebooks/


# File types
#------------------------
*.bin
*.csv
*.exe
*.h5
*.pdf
*.png
*.txt
*.sqlite3
keys.json


# Dirs
#------------------------
images
py_openGL_tut
data/
bookcode/
.pytest_cache


# Graph Files
#------------------------
*.graphml


# Packaging
#------------------------
*.egg-info
*.so
